# Lab 4.1 -  Grouping blocks of data 

In this lab, we will practice some of the techniques that you learned in the last few week, namely grouping blocks of data lines using the unfold technique.

## Reading in current progress

In [1]:
with open('911_deaths_extra_removed.csv') as f:
    content = f.read()
content[:500]

"Gordon M. Aamoth, Jr.\n 32\n Sandler O'Neill + Partners, World Trade Center.\nEdelmiro Abad\n 54\n Brooklyn, N.Y., Fiduciary Trust Company International, World Trade Center.\nMarie Rose Abad\n 49\n Keefe, Bruyette&Woods, Inc., World Trade Center.\nAndrew Anthony Abate\n 37\n Melville, N.Y., Cantor Fitzgerald, World Trade Center.\nVincent Paul Abate\n 40\n Brooklyn, N.Y., Cantor Fitzgerald, World Trade Center.\nLaurence Christopher Abel\n 37\n New York City, Cantor Fitzgerald, World Trade Center.\nAlona Abraham\n 3"

In [23]:
culled_lines = content.split('\n')
culled_lines[:20]

['Gordon M. Aamoth, Jr.',
 ' 32',
 " Sandler O'Neill + Partners, World Trade Center.",
 'Edelmiro Abad',
 ' 54',
 ' Brooklyn, N.Y., Fiduciary Trust Company International, World Trade Center.',
 'Marie Rose Abad',
 ' 49',
 ' Keefe, Bruyette&Woods, Inc., World Trade Center.',
 'Andrew Anthony Abate',
 ' 37',
 ' Melville, N.Y., Cantor Fitzgerald, World Trade Center.',
 'Vincent Paul Abate',
 ' 40',
 ' Brooklyn, N.Y., Cantor Fitzgerald, World Trade Center.',
 'Laurence Christopher Abel',
 ' 37',
 ' New York City, Cantor Fitzgerald, World Trade Center.',
 'Alona Abraham',
 ' 30']

## Problem 1 -- Combining block of data

You have probably noticed that the data for each victim is spread across three lines.  In this problem we will use the unfold technique to group and join these lines.

To complete this task, we will

1. Create `get_layer` function that pulls off three lines and joins them with commas
2. Create a `get_remaining` function that returns the remainder of the lines (with the 1st three removed).
3. Use the unfold pattern to collect and group the data blocks.

### Task 1 - Develop `get_layer` function

First, create a function that pulls off and comma-joins (with a trailing space) the first three rows of the input list.

In [3]:
example_block = culled_lines[:3]
example_block

['Gordon M. Aamoth, Jr.',
 ' 32',
 " Sandler O'Neill + Partners, World Trade Center."]

In [4]:
",".join(culled_lines[:3]) # trailing space already included at start of 2nd and 3rd lines

"Gordon M. Aamoth, Jr., 32, Sandler O'Neill + Partners, World Trade Center."

In [5]:
get_layer = lambda l: ",".join(l[:3])

### Task 2 - Develop `get_remaining` function

First, create a function that pulls off and comma-joins the first three rows of the input list.

Next, write a function to get everything but the first three rows

In [6]:
get_remaining = lambda l: l[3:]

### Task 3 - Make sure you understand the last step and computation will complete.

First, create a function that pulls off and comma-joins the first three rows of the input list.

In [7]:
# Make sure the list length is a multiple of 3
assert len(culled_lines) % 3 == 0
# Great, we can slice off 3's without having to worry about an end case

In [8]:
# We know we are at the final step when len(remaining) <= 3
next_to_last_remaining = culled_lines[-3:]
next_to_last_remaining

['Igor Zukelman',
 ' 29',
 ' Fiduciary Trust Company International, World Trade Center.']

In [9]:
get_remaining(next_to_last_remaining)

[]

### Task 4 - Use the unfold pattern to unpack the data groups into rows of data.

Now that you have all the components, use the unfold pattern (see lecture 4.1) to unpack the data into a list of rows, one per 911 victim.

In [13]:
lines = culled_lines # copy to preserve original for as-needs testing
joined_lines = []

while lines:
    joined_lines.append(get_layer(lines))
    lines = get_remaining(lines)

In [11]:
joined_lines[-3:]

['Joseph J. Zuccala, 54, Croton-on-Hudson, N.Y., Fuji Bank, Ltd., World Trade Center.',
 'Andrew Steven Zucker, 27, Riverdale, N.Y., Harris Beach LLP, World Trade Center.',
 'Igor Zukelman, 29, Fiduciary Trust Company International, World Trade Center.']

### Task 5 - Save your work

Now we will save our work by writing our progress to a text file `911_Deaths_Grouped.csv`

In [15]:
with open("911_Deaths_Grouped_lab.csv", "w") as of:
    of.write("\n".join(joined_lines))

### Task 6 - Inspect the file in VSCode and identify any problems.

Before we proceed, open an inspect the file.  Document any problems (if they exist) that you find, then discuss how you might solve each problem.

> Contains extra commas in names or business/job names, which would be problematic for a csv parser

> Use the csv library instead of rolling own formatting

# Playing with code that will avoid comma issue

In [16]:
def get_three(li):    
    return [li.pop(0), li.pop(0), li.pop(0)] # does remove from list

In [24]:
line_elems_list = []
lines_test = culled_lines[:]

while lines_test:
    elems = get_three(lines_test)
    line_elems_list.append([e.strip() for e in elems])

In [26]:
line_elems_list[:3]

[['Gordon M. Aamoth, Jr.',
  '32',
  "Sandler O'Neill + Partners, World Trade Center."],
 ['Edelmiro Abad',
  '54',
  'Brooklyn, N.Y., Fiduciary Trust Company International, World Trade Center.'],
 ['Marie Rose Abad', '49', 'Keefe, Bruyette&Woods, Inc., World Trade Center.']]

In [19]:
import csv
with open("911_test.csv", "w") as outfile:
    writer = csv.writer(outfile)
    writer.writerows(line_elems_list)

In [25]:
len(culled_lines)

8931

In [ ]:
#import pandas as pd
#fi = pd.read_csv("911_Deaths_Grouped.csv") # ParserError
#fi = pd.read_csv("911_test.csv") # happy